<!DOCTYPE html>
<html>
<head>
  <title>Workable</title>
  <%= stylesheet_link_tag    "workable/application", media: "all" %>
  <%= javascript_include_tag "workable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
